<%- include("partials/header") %>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="container">
        <div class="row">
            
            <%- include("./partials/navbar") %>

            <div class="mainSectionContainer col-10 col-md-8 col-lg-6">
                <div class="titleContainer">
                    <h1><%=payload.user.firstName%></h1>
                    </div>
                <script>
                    var profileUserId = '<%=payload.user._id%>'
                </script>    
               
                
                
                <div class="pinnedPostContainer" style="display: none;"></div>
                <div class="userPostsContainer">
                    <!-- <span class="noResults">Nothing to show.</span> -->
                </div>
                   
            </div>
        </div>



            <!-- <div class="d-none d-md-block col-md-2 col-lg-4">Third Column</div> -->
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/jQuery.js"></script>
<script src="/js/profile.js"></script>
<script src="/js/common.js"></script>
<%- include("partials/footer") %>